* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    
  }
  
 
  
  a {
    display: flex;
    max-width: 130px;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
    transition: 1s cubic-bezier(0.39, 0.5, 0.15, 1.36);
    margin: 0 auto;
    text-align: center;
      
  }
  
  a.button {
    color: #ffffff;
    box-shadow: #ffffff 0 0 0 4px inset;
  }
  
  a.button:hover {
    color: #fff;
    box-shadow: #6D0115 0 0 0 40px inset;
  }

.buttonartiste {
  margin-top: 350px;
}

.buttonartisteyouon {
  margin-top: 450px;
}

.buttonartisteigor {
  margin-top: 580px;
}

.buttonartisteivan {
  margin-top: 400px;
}

