input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 130px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
    font-family: 'Montserrat', sans-serif;
  }
  label{margin-right: 0px;
    margin-left: 0px;
    width: 100%;}
  
  input[type=submit] {
    background-color: #1255a2;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #6D0115;
    font-family: 'Montserrat', sans-serif;
  }
  
  .container {
    /* Ajouter box-sizing */
    box-sizing : border-box;
    border-radius:2px;
    background-color:#6D0115;
    padding:20px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    margin-left: 30px;
    top:650px;

    /* redéfinition 400 + 2*20 */
    max-width: 440px;
    margin:0 auto;
  }
  h1  {
    color: #6D0115;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
  }