footer{
    background-color: rgb(0, 0, 0);
    margin-top: 600px;
}

footer{color: rgb(255, 255, 255);
text-align: center;
}

.footerfrise{
    background-color: rgb(0, 0, 0);
    margin-top: 100px;
}

.footerfrise{color: rgb(255, 255, 255);
text-align: center;
}
