@import url(./vendors/normalize.css);
@import url(./menu.css);
@import url(./header.css);
@import url(./caroussel.css);


body{
    background-color: #6d0115;
    color: white;
    margin: 0;
}

a{color: white;}

h1{
    text-align: center;
        margin: 0%;
}



img {
    overflow-clip-margin: content-box;
    overflow: clip;
    max-width: 100%;
    height:auto
}
